:root {
  --mainDark: #121212;
  --mainLight: #ededed;
  --primaryLight: #8085e4;
  --primaryDark: #1923da;
  --buttonBg: #1e9459;

  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--mainLight);
  background-color: var(--mainDark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primaryLight);
  text-decoration: none;
}

a:hover {
  font-weight: 500;
  color: var(--primaryDark);
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: var(--buttonBg);
  color: var(--mainDark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primaryLight);
}

#app {
  text-align: center;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--mainDark);
    background-color: var(--mainLight);
  }
  a {
    color: var(--primaryDark);
  }
  a:hover {
    color: var(--primaryLight);
  }
  button {
    background-color: var(--buttonBg);
  }
}
